body{
	background-color:Thistle;
}
h2{
	font-family: Tahoma;
}
div{
	border:2px solid black;
	width:470px;
	height:315px;
	margin:10px;
	border-radius:10px;
	justify-content: center;
    align-items: center;
	padding: 20px;
	font-family: Tahoma;
 }
 input{
	background-color:LightBlue;
	width: 105px;
	height: 70px;
	padding: 15px; 
	border: 5px solid Bisque;
	border-radius:15px;
 }
 input:hover{
	background-color: LightGreen;
 }
 img{
	width:70%;
	padding:5px;
 }